# Dependencies
node_modules
npm-debug.log*

# Next.js
.next/
out/

# Production
build

# Misc
.DS_Store
*.tsbuildinfo

# Debug
*.log

# Local env files
.env*.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo

# IDE
.vscode
.idea

# OS
Thumbs.db